.courses_num {
  font-size: medium;
}
.courses_header {
  border-bottom: 2px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search_bar {
  width: fit-content;
  height: 30px;
}
.space_bar_wrapper {
 
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search_bar .inputbox {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: none;
}

.row .courses_header .space_bar_wrapper .sort .nav_sort{
  background-color: aliceblue;
  
}
.sort{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
.sort .sort_button:hover{
background-color: transparent;
}
.button_new_course{
    border-radius: 0;
}
.add_course_name{
  display: flex;
  flex-direction: column;
}
.modal_firstRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modal_firstRow .row .modal_input{
      width: 80%;
}
.modal_secondRow .row .modal_input{
      width: 40%;
}
.createCourse_button{
  border-radius: 0;
}
/* .batches{
  margin-top: 100px;
} */
.bactchlist:hover{
  
  transition: scale(1.1);
  cursor: pointer;

}
.mod_del_button{
  border: 0;
  background-color: rgb(163, 158, 158);
  color: black;
  width: 10%;
  justify-content: center;
}
.del_sec{
  justify-content: end;
}
.course_foot{
  justify-content: center;
}
.mod_add_button{
  border: 0;
  background-color: rgb(163, 158, 158);
  color: black;
  width: 20%;
  justify-content: center;
}
.add_sec{
  justify-content: end;
}
.subheadings{
      font-size: 18px;
    font-weight: 900;
}
.thumbnail:hover{
cursor: pointer;
}