.card .card-body .card-title .span{
        font-size: 21px;
    font-family: system-ui;
}
.card .card-body .card-text{
        font-size: 14px;
    font-family: system-ui;
    color: grey;
}
.card .card-body .add_student_button{
        border: 0;
    border-radius: 41px;
    height: 41px;
    width: 41px;
    align-items: center;
    background-color: grey;
}
.card .card-body .add_student_button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .card-body .student_add_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.batchlist:hover{
    transform: scale(1.1);
}